@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #262020 ;

  
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F5F5F7;

}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

.btn-light, .btn-outline-light {
    border-radius: 0;
}

.container-fluid {
    text-align: center;
}

.mt-4 i {
    font-size: 1.5rem;
}

.vh-100 {
    min-height: 100vh;
}
