@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #262020;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F5F5F7;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

.btn-light, .btn-outline-light {
    border-radius: 0;
}

.container-fluid {
    text-align: center;
}

.mt-4 i {
    font-size: 1.5rem;
}

.vh-100 {
    min-height: 100vh;
}

/* New CSS for the Now link */
.now-link {
    position: absolute;
    top: 10px; /* Adjust for your preferred distance from top */
    right: 10px; 
    font-weight: bold;
}

.now-link a {
    color: #F5F5F7; /* Use the same white color as other text */
    text-decoration: none;
    font-size: 24px; /* Adjust the size as needed */
    

}

.now-link a:hover {
    color: #007bff;
    transition: 0.5s;
}
